{% extends 'core/base.html' %}
{% block content %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}
<style>
  .custom-rule{
    display: table;
    margin:  0 auto;
    width:  55%;
  }
  h1{
    color:  #337ab7;
    text-align: center;
  }
</style>
  <body>

    <div class="list-group custom-rule">
    <h1 class="well thumbnail custom-box-shadow">List of all Bonds</h1>

      <ol class="well col-md-12 custom-box-shadow">
        {% for bond in all_bond %}
            <div class="btn btn-info well thumbnail" style="background: #5bc0de"><li class=""><a class="well btn-primary list-group-item list-group-item-info" href="#">{{bond.name}} -- {{bond.invest }} Rs/-  </a></li></div>
        {% endfor %}
      </ol>
    </div>






    <!-- <ul>
      {% for bond in all_bond %}
      <li>{{bond.name}} -- {{bond.invest }} Rs/- </li>
      {% endfor %}
    </ul> -->
  </body>
{% endblock %}
