{% extends 'core/base.html' %}

{% block title %}Bidding | {{block.super}}{% endblock %}
{% block content %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}
  <!-- <h2>Log in to My Site</h2> -->
<style>
  .custom-row{
    display: table;
    margin:  0 auto;
    width:  700px;
  }
   h1{
     color:  #337ab7;
     text-align: center;
   }
  hr{
     height:  1px;
     background: #337ab7;
     opacity:  0.2;
   }
   label[for=id_sample]{
   	font-weight: bold !important;		
   	vertical-align: bottom;
   }
</style>
  <div class="container">
    <div class="row col-xs-12 col-sm-12 col-md-12">
      <div class="custom-row well custom-box-shadow">
      <h1>Welcome to the Bidding Shop</h1>
      <hr>
      	<div class="left col-xs-5 well " >
      		<p class="well" style="background: #337ab7; color: #fff; font-family: 'Raleway'">Product Details : </p>
      		<div class="" style="font-family: 'Raleway'"><b>Product : {{data.Product}}</b>
      		<br><b>Price : <code>{{data.Price}} Rs/Kg</code></b></div>
      	</div>
        <div class=" col-xs-7 col-md-7 col-lg-7 ">
          <div class="col-sm-10 col-md-12 ">
              <!-- <h1>Welcome to the bidding shop</h1> -->
              <!-- <hr> -->
              <form method="post" class="form"> {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
              {% bootstrap_form form %}
                <!-- {{form.as_p}} -->
                <br>
                {% buttons %}
                    <button type="submit" name="button" class="btn btn-primary col-xs-12">
                      {% bootstrap_icon "star" %} Place bid
                    </button>
                  {% endbuttons %}
                <!-- <button type="submit" name="button" class="btn btn-primary">Create new Product</button> -->
              </form>
          </div>  
        </div>
      </div>
    </div>
  </div>
{% endblock %}




