{% extends 'core/base.html' %}
{% block title %} Urgent Feedback System | Kisan Mill{% endblock title %}
{% block content %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}
  <!-- <h2>Log in to My Site</h2> -->
<style>
  .custom-row{
    display: table;
    margin:  0 auto;
    width:  550px;
  }
  h1{
    color:  #337ab7;
    text-align: center;
  }
 hr{
    height:  1px;
    background: #337ab7;
    opacity:  0.2;
  }
</style>
  <div class="container">
    <div class="row col-xs-12 col-sm-12 col-md-12">
      <div class="custom-row">
        <div class="well col-xs-12 col-md-12 col-lg-12 custom-box-shadow">
          <div class="col-sm-10 col-md-12 ">
              <h1>Feedback</h1>
              <hr>
              <form method="post" class="form"> {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
              {% bootstrap_form form %}
                <!-- {{form.as_p}} -->
                <br>
                {% buttons %}
                    <button type="submit" name="button" class="btn btn-primary col-sm-12">
                      {% bootstrap_icon "star" %} Submit Feedback
                    </button>
                  {% endbuttons %}
                <!-- <button type="submit" name="button" class="btn btn-primary">Create new Product</button> -->
              </form>
          </div>  
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

