{% extends 'core/base.html' %}
{% block content %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css"> -->
<style>
	img{
		width:100%;
	}
	ul{
		list-style-type: none;
	}
	h1{
	  color:  #337ab7;
	  text-align: center;
	}
	.col-md-3{
		margin:  0 4%;
	}
	.row{
		margin:  2% 0;
	}
</style>
<ul>
<div class="list-group col-xs-12">
	<div class="container">
		<div class="row">
				<h1 class="center well custom-box-shadow">Welcome to the Kisan Mill</h1>
			  <div class="well card col-md-3 card-inverse card-success mb-3 text-center custom-box-shadow">
			  	<img src="../../../media/people-trading.svg" class="card-img-top img-fluid img-thumbnail mx-auto d-block">
			  		<div class="card-block">
			  			<li class="list-group-item"><a class="btn btn-info list-group-item list-group-item-info" href="/shop/auction/">Create an Auction</a></li>
			  		</div>
			  	</div>
			  <div class="well card col-md-3 card-inverse card-success mb-3 text-center custom-box-shadow">
			  	<img src="../../../media/shopping-list.svg" class="card-img-top img-fluid img-thumbnail mx-auto d-block rounded">
			  		<div class="card-block">
			  			<li class="list-group-item"><a class=" btn-info list-group-item list-group-item-info" href="/shop/myauction/">My Auctions and Bidding List</a></li>
			  		</div>
			  </div>
			  <div class="well card col-md-3 card-inverse card-success mb-3 text-center custom-box-shadow">
			  	<img src="../../../media/feedback.svg" class="card-img-top img-fluid img-thumbnail mx-auto d-block rounded">
			  		<div class="card-block">
			  			<li class="list-group-item"><a class=" btn-info list-group-item list-group-item-info" href="/messages/">Urgent Feedback System</a></li>
			  		</div>
			  </div>

		</div> <!-- row 1 ends-->
		<div class="row">
			<div class="well card col-md-3 card-inverse card-success mb-3 text-center custom-box-shadow">
				<img src="../../../media/notebook.svg" class="card-img-top img-fluid img-thumbnail mx-auto d-block rounded">
					<div class="card-block">
						<li class="list-group-item"><a class="btn btn-info list-group-item list-group-item-info" href="/shop/all_services/">List all the services</a></li>
					</div>
			</div>
			<div class="well card col-md-3 card-inverse card-success mb-3 text-center custom-box-shadow">
				<img src="../../../media/settings-gears.svg" class="card-img-top img-fluid img-thumbnail mx-auto d-block rounded">
					<div class="card-block">
						<li class="list-group-item"><a class="btn btn-info list-group-item list-group-item-info" href="/shop/services/">Create a new Service</a></li>
					</div>
			</div>
			<div class="well card col-md-3 card-inverse card-success mb-3 text-center custom-box-shadow">
				<img src="../../../media/molecular-bond.svg" class="card-img-top img-fluid img-thumbnail mx-auto d-block rounded">
					<div class="card-block">
						<li class="list-group-item"><a class="btn btn-info list-group-item list-group-item-info" href="/bond/">Create a new Bond</a></li>
					</div>
			</div>

		</div>
		<div class="row">
			<div class="well card col-md-3 card-inverse card-success mb-3 text-center custom-box-shadow">
				<img src="../../../media/auction.svg" class="card-img-top img-fluid img-thumbnail mx-auto d-block rounded">
					<div class="card-block">
						<li class="list-group-item"><a class=" btn-info list-group-item list-group-item-info" href="/shop/biddinglist/">List of All Auctions for Bidding</a></li>
					</div>
			</div>
			<div class="well card col-md-3 card-inverse card-success mb-3 text-center custom-box-shadow">
				<img src="../../../media/atoms.svg" class="card-img-top img-fluid img-thumbnail mx-auto d-block rounded">
					<div class="card-block">
						<li class="list-group-item"><a class="btn btn-info list-group-item list-group-item-info" href="/bond/all">List of all Bonds </a></li>
					</div>
			</div>
		</div>
	</div>
</div>
</ul>

{% endblock %}
